<h1><%- title %></h1>
<h2>MESSAGES</h2>
<%- messages() %> <%# WK4 TSK2.4 %>
<% if (errors) { %>
    <h2>ERRORS</h2>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <form class="login-form" action="/inv/add-inventory" method="post">
    <label>Make<input type="text" value="<%- locals.inv_make %>" placeholder="Ford" name="inv_make" minlength="2" maxlength="50"></label>
    <label>Model<input type="text" value="<%- locals.inv_model %>" placeholder="Mustang" name="inv_model" minlength="2" maxlength="50"></label>
    <label>Year<input type="number" value="<%- locals.inv_year %>" placeholder="2001" name="inv_year" min="1900" max="2030"></label>
    <label>Description
        <textarea placeholder="Fancy and red." name="inv_description"minlength="2" maxlength="100" rows="5"><%- locals.inv_description %></textarea>
    </label>
    <label>Image<input type="text" value="<%- locals.inv_image %>" placeholder="red_mustang.jpg" name="inv_image"></label>
    <label>Thumbnail<input type="text" value="<%- locals.inv_thumbnail %>" placeholder="litle_red_mustang.jpg" name="inv_thumbnail"></label>
    <label>Price<input type="number" value="<%- locals.inv_price %>" placeholder="15,000" name="inv_price"></label>
    <label>Miles<input type="number" value="<%- locals.inv_miles %>" placeholder="100,000" name="inv_miles"></label>
    <label>Color<input type="text" value="<%- locals.inv_color %>" placeholder="Red" name="inv_color"></label>
    <label>Classification
        <%- classifications %>
    <input type="submit">
  </form>